.container_overlay_fade{
    display: inline-block;
    position: relative;
    
    &:hover .overlay {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        z-index: 1;
        
        .overlay-button {
            padding: 10px;
            text-transform: uppercase;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
    }
    .overlay {
        display: none;
    }
}