.popup-main {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;        
    width: 100vw !important;
    height: 100vh !important;
    
    .popup-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        
        .popup-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1010;
            overflow: hidden;
            transition: transform 600ms;
            display: flex;
            justify-content: center;
            
            .popup-content {
                height: 80vh;
                width: 60vw;
                padding: 30px;
                align-self: center;
                overflow-y: auto;
                
                .popup-close {
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 30px;
                    position: relative;
                    padding-top: 10px;
                    width: 100%;
                    display: inline-flex;
                    justify-content: flex-end;
                    left: -20px;
                }
                
                .popup-username{
                    text-align: center;
                    font-size: 20px;
                    letter-spacing: 0.025em;
                    margin-bottom: 4%;
                }
                .popup-col-1 {
                    float: left;
                    width: 60%;
                    .img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
                
                .popup-col-2 {
                    float: left;
                    width: 38%;
                    margin-left: 2%;

                    .popup-description {
                        line-height: 1.75em;
                        letter-spacing: 0.025em;
                        font-size: 14px;
                    }
                }
            }
            
            .arrow {
                position: relative;
                top: 0;
                align-self: center;
                width: 60px;
                height: 60px;
            }           
        }
    }
}


