%arrow-asset {
    width: 35px;  
}

.popup-asset{
    clear: both;
    overflow: hidden;
    padding: 20px 30px 0;
    min-height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 600ms;
    
    .popup-asset-title, .popup-asset-price{
        margin: 5px;
        text-align: center;
        text-transform: uppercase;
    }
    
    
    .popup-asset-thumbnail img{     
        display: block;
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 0 auto;
        position: relative;
        transition: transform 600ms;     
    }
    
    .arrow-asset {
        width: 35px;
        height: 35px;
        svg {
            @extend %arrow-asset;
        }
        
        
        
    }
}    
.popup-asset-button {
    margin:0 auto;
    width: 140px;

    .asset-button {
        font-weight: bold;
        text-align: center;
        padding: 6px 30px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .1em;
        line-height: 1.5em;
        cursor: pointer;
    }
}
