@import 'popupDisplayContent';

.popup-calzedonia-1-button {
    margin:0 auto;
    margin-top: 30px;
    width: 140px;
    
    .asset-button {
        font-weight: bold;
        text-align: center;
        padding: 6px 15px;
        text-transform: uppercase;
        font-size: 9px;
        line-height: 1.5em;
        cursor: pointer;
    }
}