@import 'overlayFade';
@import 'popupDisplayContentCalzedonia1';
@import 'popupAsset';
@import 'noSvg';

body {
    margin: 0;
    padding: 0; 
}

%component-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.wall-grid-calzedonia-1 {
    @extend %component-grid;
    margin: 5px;

    .title-grid {
        text-align: center;
        font-size: 30px;
        letter-spacing: .3em;
        margin: 25px 0;
    }

    .container-flex {
        @extend %component-grid;
        // display: none; //momentaneo
        .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;       
        }  
    }  
} 