@import 'overlayFade';
@import 'popupDisplayContent';
@import 'popupAsset';
@import 'noSvg';

%arrow-strip {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-sizing: border-box;
}

.wall-strip-default {
    margin: 0 auto;
    position: relative;

    .arrow-left {
        @extend %arrow-strip;
        left: 0rem;
    }
    
    .arrow-right {
        @extend %arrow-strip;
        right: 0rem;        
    }
    
    .wrapper-img {
        width: 100%;
        overflow: hidden;
        display: flex;
    }
}





