<!DOCTYPE html>
<html lang="it" id="top" class="no-js">

<head>
<script defer type="text/javascript">
    var MAGE_BASE_URL_DEFAULT = "https://www.vr46.it/";
    var MAGE_BASE_URL = "https://www.vr46.it/it-it/";
    var MEDIA_URL = "https://d2f8i5rcifq9w8.cloudfront.net/media/";
    var STORE_CODE = "it-it";
    var STORE_ID = "1";
    var STORE_LANG = "it_IT";
    var STORE_CURRENCY = "€";
    var LANG_STRIP_HEADER = "La tua Lingua";
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LiveStory VR46</title>
<meta name="description" content="Scopri il Merchandise Originale di Valentino Rossi - Acquista Abbigliamento, Gadget e Accessori VR46 sullo Store Online Ufficiale - Nuovi prodotti ogni giorno" />
<meta name="keywords" content="Magento, Varien, E-commerce" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="theme-color" content="#0f1316">
<link rel="shortcut icon" href="https://d2f8i5rcifq9w8.cloudfront.net/media/favicon/default/favicon.ico" type="image/x-icon" />
<link rel="icon" href="https://d2f8i5rcifq9w8.cloudfront.net/media/favicon/default/favicon.ico" type="image/x-icon" />
<link rel="icon" sizes="16x16" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/favicon-16x16.png" />
<link rel="icon" sizes="32x32" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/favicon-32x32.png" />
<link rel="icon" sizes="48x48" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/favicon.ico" />
<link rel="icon" sizes="64x64" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/favicon.ico" />
<link rel="icon" sizes="128x128" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/favicon.ico" />
<link rel="android-chrome" sizes="192x192" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/android-chrome-192x192.png">
<link rel="android-chrome" sizes="512x512" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/android-chrome-256x256.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/apple-touch-icon.png">
<link rel="manifest" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/manifest.json">
<meta name="msapplication-TileImage" content="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/mstile-150x150.png">
<meta name="msapplication-TileColor" content="#0f1316">
<link rel="mask-icon" href="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/diana/vrs/images/favicons/safari-pinned-tab.svg" color="#5bbad5">

    <meta property="og:title" content="VR46 Official Merchandise - Valentino Rossi Store Online" />
    <meta property="og:url" content="https://www.vr46.it/it-it" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Scopri il Merchandise Originale di Valentino Rossi - Acquista Abbigliamento, Gadget e Accessori VR46 sullo Store Online Ufficiale - Nuovi prodotti ogni giorno" />
    <meta property="og:image" content="https://d2f8i5rcifq9w8.cloudfront.net/skin/frontend/base/default/images/logo.png" />
    {{!-- <link rel="stylesheet" type="text/css" href="https://d2f8i5rcifq9w8.cloudfront.net/media/css_secure/fe6c91a249c27b2478c562cc36ec3406.css" media="all" /> --}}
<link rel="stylesheet" type="text/css" href="https://d2f8i5rcifq9w8.cloudfront.net/media/css_secure/1abbe8965fc1115319901c6bb4af362c.css" media="all" />

{{!-- Aggiunta tag per il caricamento del bundle di Livestory --}}
    <script src="http://127.0.0.1:3000/bundle.js"></script>    
<body>   
        {{{body}}}      
</body>
</html>