<body class=" rewrite-index-index cms-home">
   <div class="wrapper">
      <div class="page">
         <div class="navigation-overlay"></div>
         <div class="main-container col1-layout">
            <div class="main">
               <div class="col-main">
                  <div class="std">
                     <div>&nbsp;</div>
                     <!-- HOME PAGE -->
                  </div>
                  <div class="homepage">
                     <div class="home-row-1">
                        <div>
                           <div class="diana-widget diana-widget-rotator diana-carousel  first">
                              <div class="diana-carousel-wrapper">
                                 <div class="diana-carousel-item" data-id="0">
                                    <div class="diana-widget diana-widget-banner-0 text-left diana-widget-white ">
                                       <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/racing/vr-46-monster-camp.html">
                                          <div class="diana-widget-image">
                                             <picture  >
                                                <source media="(max-width: 768px)"
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 2x">
                                                <source media="(min-width: 769px)" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w3200/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 2x">
                                                <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg"
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w3200/media/wysiwyg/widget_diana/banner-EN-IT_2.jpg 2x"
                                                   alt="PASSIONE QUOTIDIANA" 
                                                   title="PASSIONE QUOTIDIANA"
                                                   />
                                             </picture>
                                          </div>
                                       </a>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title"><span class="spacing-1"></span><span class="text">PASSIONE QUOTIDIANA</span><br/></h3>
                                             <div class="clearfix"></div>
                                             <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/racing/vr-46-monster-camp.html" title="Acquista VR46 Monster Camp">
                                             <button class="diana-widget-cta">Acquista VR46 Monster Camp</button>
                                             </a>
                                             <div class="clearfix"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="diana-carousel-item" data-id="1">
                                    <div class="diana-widget diana-widget-banner-0 text-left diana-widget-white ">
                                       <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/lifestyle/core.html">
                                          <div class="diana-widget-image">
                                             <picture  >
                                                <source media="(max-width: 768px)"
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/banner-6_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/banner-6_2.jpg 2x">
                                                <source media="(min-width: 769px)" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-6_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w3200/media/wysiwyg/widget_diana/banner-6_2.jpg 2x">
                                                <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-6_2.jpg"
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w1600/media/wysiwyg/widget_diana/banner-6_2.jpg 1x,
                                                   https://d2f8i5rcifq9w8.cloudfront.net/slir/w3200/media/wysiwyg/widget_diana/banner-6_2.jpg 2x"
                                                   alt="New Concept" 
                                                   title="New Concept"
                                                   />
                                             </picture>
                                          </div>
                                       </a>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title"><span class="spacing-1"></span><span class="text">New</span><br/><span class="spacing-2"></span><span class="text">Concept</span><br/></h3>
                                             <div class="clearfix"></div>
                                             <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/lifestyle/core.html" title="Core Line">
                                             <button class="diana-widget-cta">Core Line</button>
                                             </a>
                                             <div class="clearfix"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="diana-widget diana-widget-threebanners">
                              <div class="diana-widget-threebanners-wrapper">
                                 <div class="diana-widget-threebanners-box " data-id="0">
                                    <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/vr46-academy.html" title="VR|46 RIDERS ACADEMY">
                                       <div class="diana-widget-logo">
                                          <img src="https://d2f8i5rcifq9w8.cloudfront.net/media/wysiwyg/widget_diana/vr46-academy-style-logo.png" />
                                       </div>
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/vr46-academy-style.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/vr46-academy-style.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/vr46-academy-style.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/vr46-academy-style.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/vr46-academy-style.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/vr46-academy-style.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/vr46-academy-style.jpg 2x"
                                                />
                                          </picture>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title">Shop by</h3>
                                             <h5 class="diana-widget-subtitle">VR|46 RIDERS ACADEMY</h5>
                                             <button class="diana-widget-cta">Vedi Prodotti <span class="icon icon-cart"></span></button>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="diana-widget-threebanners-box  hoverized tobehoverized" data-id="1">
                                    <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/racing.html" title="RACING">
                                       <div class="diana-widget-logo">
                                          <img src="https://d2f8i5rcifq9w8.cloudfront.net/media/wysiwyg/widget_diana/racing-logo.png" />
                                       </div>
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/racing_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/racing_2.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/racing_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/racing_2.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/racing_2.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/racing_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/racing_2.jpg 2x"
                                                />
                                          </picture>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title">Shop by</h3>
                                             <h5 class="diana-widget-subtitle">RACING</h5>
                                             <button class="diana-widget-cta">Vedi Prodotti <span class="icon icon-cart"></span></button>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="diana-widget-threebanners-box " data-id="2">
                                    <a href="https://www.vr46.it/it-it/abbigliamento/shop-by-collection/lifestyle.html" title="FREE TIME">
                                       <div class="diana-widget-logo">
                                          <img src="https://d2f8i5rcifq9w8.cloudfront.net/media/wysiwyg/widget_diana/life-style-logo.png" />
                                       </div>
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/life-style_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/life-style_2.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/life-style_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/life-style_2.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/life-style_2.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w540/media/wysiwyg/widget_diana/life-style_2.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1080/media/wysiwyg/widget_diana/life-style_2.jpg 2x"
                                                />
                                          </picture>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title">Shop by</h3>
                                             <h5 class="diana-widget-subtitle">FREE TIME</h5>
                                             <button class="diana-widget-cta">Vedi Prodotti <span class="icon icon-cart"></span></button>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="home-row-2">
                        <div class="diana-widget diana-widget-livestoryhome ">
                           <h2>Live Story #vr46tribe</h2>
                        </div>
                        {{!-- Livestory load --}}
                        <div id="LS-590b8481c8312c00077fd80f">{{{html}}}</div>
                        {{{stylesheet}}}
                        <script defer>window.renderComponent("590b8481c8312c00077fd80f",{{{data}}})</script>
                     </div>
                     <div class="home-row-3">
                        <div>
                           <div class="diana-widget diana-widget-homeproducts">
                              <h3 class="diana-widget-title"> I preferiti dai Fan </h3>
                              <div class="slider-products-wrapper">
                                 <div class="slider-products-inner-wrapper">
                                    <ul>
                                       <li class="item" data-product='{"sku":"VRMTS306404","name":"T-shirt WLF 46","gender":"Uomo","season":"SS 2018","sustainability":"4","store_collection":"VR46 classic","price":35,"category":"T-Shirts"}'>
                                          <a href="https://www.vr46.it/it-it/t-shirt-black-vrmts306404.html" title="T-shirt WLF 46">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmts306404.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmts306404.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmts306404.png 2x"
                                                   alt="T-shirt WLF 46" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   T-shirt WLF 46                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="item" data-product='{"sku":"SKMFL336804","name":"Giacca replica Sky Racing team VR46 2018","gender":"Uomo","season":"SS 2018","sustainability":"4","store_collection":"Sky racing team VR46","price":79,"category":"Sweatshirts"}'>
                                          <a href="https://www.vr46.it/it-it/felpe-black-skmfl336804.html" title="Giacca replica Sky Racing team VR46 2018">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/s/k/skmfl336804.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/s/k/skmfl336804.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/s/k/skmfl336804.png 2x"
                                                   alt="Giacca replica Sky Racing team VR46 2018" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   Giacca replica Sky Racing team VR46 2018                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="item" data-product='{"sku":"MOMPO316820","name":"Polo 46 Monster","gender":"Uomo","season":"SS 2018","sustainability":"4","store_collection":"Monster VR46","price":54,"category":"Polo Shirts"}'>
                                          <a href="https://www.vr46.it/it-it/polo-anthracite-grey-mompo316820.html" title="Polo 46 Monster">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/mompo316820.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/mompo316820.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/mompo316820.png 2x"
                                                   alt="Polo 46 Monster" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   Polo 46 Monster                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="item" data-product='{"sku":"MOMTS317408","name":"T-shirt camouflage 46 Monster Camp","gender":"Uomo","season":"SS 2018","sustainability":"4","store_collection":"VR46 Monster Camp","price":35,"category":"T-Shirts"}'>
                                          <a href="https://www.vr46.it/it-it/t-shirt-green-momts317408.html" title="T-shirt camouflage 46 Monster Camp">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/momts317408.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/momts317408.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/m/o/momts317408.png 2x"
                                                   alt="T-shirt camouflage 46 Monster Camp" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   T-shirt camouflage 46 Monster Camp                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="item" data-product='{"sku":"VRMFL305301","name":"Felpa The Doctor 46","gender":"Uomo","season":"SS 2018","sustainability":"4","store_collection":"VR46 classic","price":75,"category":"Sweatshirts"}'>
                                          <a href="https://www.vr46.it/it-it/felpe-yellow-vrmfl305301.html" title="Felpa The Doctor 46">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmfl305301.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmfl305301.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/v/r/vrmfl305301.png 2x"
                                                   alt="Felpa The Doctor 46" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   Felpa The Doctor 46                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="item" data-product='{"sku":"YDKFL314909","name":"Felpa Yamaha VR46 Bimbo","gender":"Bambino (2-14 anni)","season":"SS 2018","sustainability":"4","store_collection":"Yamaha VR46","price":64,"category":"Sweatshirts"}'>
                                          <a href="https://www.vr46.it/it-it/felpe-royal-blue-ydkfl314909.html" title="Felpa Yamaha VR46 Bimbo">
                                             <div class="product-image">
                                                <img 
                                                   src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/y/d/ydkfl314909.png" 
                                                   srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w350/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/y/d/ydkfl314909.png 1x, https://d2f8i5rcifq9w8.cloudfront.net/slir/w600/media/catalog/product/cache/1/transparent_image/9df78eab33525d08d6e5fb8d27136e95/y/d/ydkfl314909.png 2x"
                                                   alt="Felpa Yamaha VR46 Bimbo" 
                                                   />
                                             </div>
                                             <span class="new-badge"><span class="icon icon-new"></span> Nuovo</span>
                                             <div class="product-info">
                                                <span class="preorder-badge-container">
                                                <span class="preorder-badge"></span>
                                                </span>
                                                <h2 class="product-name">
                                                   Felpa Yamaha VR46 Bimbo                                    
                                                </h2>
                                             </div>
                                             <div class="diana-widget-cta">
                                                <span class="text">Acquista</span>
                                                <span class="icon icon-cart"></span>
                                             </div>
                                          </a>
                                       </li>
                                       <li class="clearfix"></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="diana-widget diana-widget-rotator diana-carousel  ">
                              <div class="diana-carousel-wrapper">
                                 <div class="diana-carousel-item" data-id="0">
                                    <div class="diana-widget diana-widget-video diana-widget-video-right text-left diana-widget-white ">
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/cover-video-guanto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/cover-video-guanto.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-guanto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-guanto.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-guanto.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-guanto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-guanto.jpg 2x"
                                                alt="La 100KM dei campioni" 
                                                title="La 100KM dei campioni"
                                                />
                                          </picture>
                                          <span class="icon icon-video-play"></span>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title"><span class="spacing-1"></span><span class="text">La 100KM</span><br/><span class="spacing-2"></span><span class="text">dei campioni</span><br/></h3>
                                             <div class="clearfix"></div>
                                             <button class="diana-widget-cta">Guarda il video</button>
                                             <div class="clearfix"></div>
                                          </div>
                                       </div>
                                       <div class="diana-widget-video-content">
                                          <div class="diana-widget-video-iframe" data-src="https://www.youtube.com/embed/-5aZiyacwiY?autoplay=1&rel=0&showinfo=0"></div>
                                          <div class="diana-widget-video-close">&times;</div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="diana-carousel-item" data-id="1">
                                    <div class="diana-widget diana-widget-video diana-widget-video-left text-right diana-widget-white ">
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-ranch-gopro.jpg 2x"
                                                alt="Il sabato al Ranch, tutti di traverso" 
                                                title="Il sabato al Ranch, tutti di traverso"
                                                />
                                          </picture>
                                          <span class="icon icon-video-play"></span>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title"><span class="spacing-1"></span><span class="text">Il sabato al Ranch,</span><br/><span class="spacing-2"></span><span class="text">tutti di traverso</span><br/></h3>
                                             <div class="clearfix"></div>
                                             <button class="diana-widget-cta">Guarda il video</button>
                                             <div class="clearfix"></div>
                                          </div>
                                       </div>
                                       <div class="diana-widget-video-content">
                                          <div class="diana-widget-video-iframe" data-src="https://www.youtube.com/embed/EHx4XrB3Ix4?autoplay=1&rel=0&showinfo=0"></div>
                                          <div class="diana-widget-video-close">&times;</div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="diana-carousel-item" data-id="2">
                                    <div class="diana-widget diana-widget-video diana-widget-video-right text-left diana-widget-white ">
                                       <div class="diana-widget-image">
                                          <picture  >
                                             <source media="(max-width: 768px)"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w750/media/wysiwyg/widget_diana/cover-video-auto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1500/media/wysiwyg/widget_diana/cover-video-auto.jpg 2x">
                                             <source media="(min-width: 769px)" 
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-auto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-auto.jpg 2x">
                                             <img src="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-auto.jpg"
                                                srcset="https://d2f8i5rcifq9w8.cloudfront.net/slir/w930/media/wysiwyg/widget_diana/cover-video-auto.jpg 1x,
                                                https://d2f8i5rcifq9w8.cloudfront.net/slir/w1860/media/wysiwyg/widget_diana/cover-video-auto.jpg 2x"
                                                alt="Valentino al Rally di Monza" 
                                                title="Valentino al Rally di Monza"
                                                />
                                          </picture>
                                          <span class="icon icon-video-play"></span>
                                       </div>
                                       <div class="diana-widget-content">
                                          <div class="diana-widget-content-inner">
                                             <h3 class="diana-widget-title"><span class="spacing-1"></span><span class="text">Valentino</span><br/><span class="spacing-2"></span><span class="text">al Rally</span><br/><span class="spacing-0"></span><span class="text">di Monza</span><br/></h3>
                                             <div class="clearfix"></div>
                                             <button class="diana-widget-cta">Guarda il video</button>
                                             <div class="clearfix"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>