@import 'palette';

.LiveStory-component { 
    background-color: $primary-color;
    
    .arrow {
        background-color: $primary-color;
        fill: $text-color;
    }
    
    .title-grid {
        color: $text-color;
    }
    
    .loadMore {
        padding: 1em 0;
        text-align: center;
        
        .button {
            display: inline-block;
            border: 1px solid $text-color;
            color: $text-secondary-color;
            font-weight: bold;
            text-align: center;
            padding: 6px 30px;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: .1em;
            line-height: 1.5em;
            cursor: pointer;
            &:hover{
                color: $text-color;
            }        
        }        
    }

    // Overlay component
    .overlay {
        background: rgba($primary-color, .6);
        
        .overlay-button {
            background: rgba($primary-color, .6);
            border: 1px solid rgba($text-color,1);
            color: lighten($primary-color, 50%);
            &:hover {
                color: $text-color;
            }  
        }      
    }

    // Popup display content
    .popup-main{
        color: $text-color;
        .popup-background{
            background: $primary-color-opaque;
        }
        .popup-content {
            background: $secondary-color;
        }
        .arrow {
            background: transparent;
        }
    }
    // Asset
    .popup-asset {
        .arrow-asset {
            fill: $text-color;
            background: transparent;
        }
    }
    .popup-asset-button, .popup-calzedonia-1-button {
        .asset-button {
            color: $text-color;
            border: 1px solid $text-color;
        }
    }


}
